*{
    margin:0;
    padding: 0;
}

.header{
    background: rgba(139, 145, 255, 0.5);
    position: fixed;
    right: 0;
    left: 0;
    padding: 26px;
}


.list-link{
    text-decoration: none;
    text-transform: lowercase;
    color:teal;
    font-size: 28px;
    font-weight: inherit;
}

.list-item{
    list-style: none;
}
    